@font-face {
    font-family: 'monotonregular';
    src: url('monoton-regular-webfont.woff2') format('woff2'),
         url('monoton-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color: #DEE7E3;
}
header{
	color: #3A785D;
	font-size: 5vw;
	font-family: monotonregular;
	text-align: center;
}

nav {
	color: #B0C8BE;
	
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*
	display: flex;
	border-radius: 1vw;
	align-items: stretch;
	/*flex-wrap: wrap;
	/*background-color: #3A785D;*/
	/*justify-content: space-evenly;*/
	
	/*justify-content: center;
	justify-content: space-between;*/	
}

.maincnt{
	color: #B0C8BE;
	
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
	background-color: #3A785D;
	font-size: 2vw;
	flex: 1 0 250px;

	color: #B0C8BE;
	text-decoration: none;
	background-color: #5B9079;
	border-radius: 1vw;
	margin-top: 2em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
    word-wrap: break-word;
}


.card pre{
	left: 50px;
	text-align: left;
}

.card img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 1vw;
}

.card img {
	-webkit-filter: blur(10px);

	-webkit-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}

.card:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}



/*
#image{
	flex: 1 0 250px;
	border-radius: 1vw;
	background-color: #DEE7E3


}
*/
h1{
	margin-left: .5em;
    margin-right: .5em;
	font-size: 4vw;
    text-align: center;
    font-family: monotonregular;
    text-decoration: none;

}
h2{
	margin-left: .5em;
    margin-right: .5em;
	font-size: 3vw;
    text-align: center;
    font-family: monotonregular;
    text-decoration: none;

}

a{
	color: #B0C8BE;
	text-decoration: none;
	background-color: #5B9079;
	border-radius: 1vw;
	margin-top: 2em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
    word-wrap: break-word;
    transition: background-color 1.5s;
}

p{
	font-size: 1vw;
	font-family: monospace;
	margin-left: .5em;
    margin-right: .5em;
    text-align: center;
}

.responsive{
	/*object-fit: contain;*/
	height: 100%;
  width: 100%;
  object-fit: cover;
	/*
	max-height: 100%;
	width: auto;
	*/
}

@media (max-width: 666px) {
  .maincnt {
    flex-direction: column;
  }
  nav{
  	flex-direction: column;
  }
  p{
  	font-size: 3vw;
  }
  h1{
  	font-size: 5vw;
  }
  h2{
  	font-size: 4vw;
  }
}

@media (min-width: 667px) and (max-width: 1300px) {
  .maincnt {
    flex-direction: column;
  }
  p{
  	font-size: 2vw;
  }
  h1{
  	font-size: 4vw;
  }
  h2{
  	font-size: 3vw;
  }
}

@media (max-width: 666px) and (orientation: portrait){
  .maincnt {
    flex-direction: column;
  }
  nav{
  	flex-direction: column;
  }
  p{
  	font-size: 5vw;
  }
  h1{
  	font-size: 7vw;
  }
  h2{
  	font-size: 6vw;
  }
}

@media (min-width: 667px) and (max-width: 1300px) and (orientation: portrait){
  .maincnt {
    flex-direction: column;
  }
  p{
  	font-size: 4vw;
  }
  h1{
  	font-size: 6vw;
  }
  h2{
  	font-size: 5vw;
  }
}

a:hover {
  background-color: #3A785D;
}

a:hover{
    animation: breathe 1.5s infinite;
}
@keyframes breathe {
    50% {box-shadow: 0px 0px 20px 3px #3A785D;}
}